body , html{
	margin: 0;
	padding: 0;
	background-color: #282828;
	/*font-size: 18px;*/
}
a .active{
	background-color: red;
}
.container{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
}

#box{
	/*width: 1024px;
	border: 3px solid blue;
	padding: 1px;
	margin: 10px;
	text-align: center;*/
	width: 100%;
	height: 100px;
	margin: 20px;
	box-sizing: border-box;
	font-size: 20px;
}

@media screen and (min-width: 320px) and (max-width: 1200px){
	.box{
		width: 5%;

	}
}
/* @media screen and (max-width: 600px){
	.box{
		width: 20%;
		
	}
} */

input:focus{
	background-color: cornsilk;
}
#button1{
font-size: 25px;
margin: 20px;
	background-color: #4CAF50;
	color: black;
	border: 2px solid white;
}
#button1:hover{
	background-color: #4CAF50;
	color: white;
}
#button2{
	font-size: 25px;
	margin: 20px;
	background-color: red;
	color: black;
	border: 2px solid white;
}
#button2:hover{
	background-color: red;
	color: white;
}

span{
	color: #ffffff;
}
ul{
	width: auto;
	margin-top: 10px;
}
li{
	display: inline-block;
	padding: 15px 30px;
}
a{
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 1.4vw;
}
a:hover{
	color: #F0c330;
	transition: 0.5s;
}

.toggle-button{
	position: absolute;
	top: 11.1rem;
	right: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar{
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}












